nav {
  background-color: gray;
  color: #fff;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav li {
  list-style: none;
}
nav li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 8px;
}
nav li a:hover {
  color: black;
  text-decoration: none;
}

.avater-ctn {
  background-color: orange;
  text-align: center;
}

.avater-ctn {
  width: 65%;
  border-bottom: 1px solid rega(0, 0, 0, 0.125);
}
